$ErrorActionPreference = "Stop"

if (-not (Get-Command "go" -ErrorAction SilentlyContinue)) {
  Write-Host "go could not be found. Please install Go v1.21+."
  exit 1
}

if (-not (Get-Command "hasura-ndc-go" -ErrorAction SilentlyContinue)) {
  Invoke-Expression "go install github.com/hasura/ndc-sdk-go/cmd/hasura-ndc-go@latest"
  if (-not (Get-Command "hasura-ndc-go" -ErrorAction SilentlyContinue)) {
    $env:PATH = "$($env:PATH);$($env:GOPATH)bin;$($env:USERPROFILE)bin"
    if (-not (Get-Command "hasura-ndc-go" -ErrorAction SilentlyContinue)) {
      Write-Host "Please configure GOPATH environment variables. See https://go.dev/wiki/SettingGOPATH#windows."
      exit 1
    }
  }
}
