#!/usr/bin/env bash
set -eu -o pipefail

. ./requirements.sh

if ! command -v air &>/dev/null; then
	go install github.com/cosmtrek/air@v1.49.0
fi

cd $HASURA_PLUGIN_CONNECTOR_CONTEXT_PATH
air -c .air.toml