package source

import (
	"context"
	"time"

	"github.com/google/uuid"
)

type State struct{}

type Text string

type ScalarFoo struct {
	bar string
}

// A hello result
type HelloResult struct {
	ID 		uuid.UUID `json:"id"`
	Num 	int    		`json:"num"`
	Text 	Text 			`json:"text"`
	Foo 	ScalarFoo `json:"foo"`
}

// FunctionHello sends a hello message
func FunctionHello(ctx context.Context, state *State) (*HelloResult, error) {
	return &HelloResult{
		Num: 1,
		Str: "world",
	}, nil
}

// A create author argument
type CreateAuthorArguments struct {
	Name string `json:"name"`
}

// A create author result
type CreateAuthorResult struct {
	ID   			int    `json:"id"`
	Name 			string `json:"name"`
	CreatedAt time.Time `json:"created_at"`
}

// ProcedureCreateAuthor creates an author
func ProcedureCreateAuthor(ctx context.Context, state *State, arguments *CreateAuthorArguments) (*CreateAuthorResult, error) {
	return &CreateAuthorResult{
		ID:   1,
		Name: arguments.Name,
	}, nil
}
