packagingDefinition:
  type: ManagedDockerBuild
supportedEnvironmentVariables: []
commands:
  commands:
    start:
      type: ShellScript
      bash: ./start.sh
      powershell: ./start.ps1
    update:
      type: ShellScript
      bash: ./update.sh
      powershell: ./update.ps1
    watch:
      type: ShellScript
      bash: ./watch.sh
      powershell: ./watch.ps1
dockerComposeWatch: 
  # Rebuild the container if root files or dependencies are changed
  - path: go.mod
    action: rebuild
  - path: go.sum
    action: rebuild
  - path: main.go
    action: rebuild
  - path: connector.go
    action: rebuild
  - path: connector.generated.go
    action: rebuild
  - path: schema.generated.json
    action: rebuild