# {{.Name}} Connector

## Get started

Start the connector server at http://localhost:8080

```go
go run . serve
```

## Development

### DDN CLI

The boilerplate follows [Native Connector Packaging](https://github.com/hasura/ndc-hub/blob/main/rfcs/0004-native-packaging.md) with convenience shell scripts at [the connector definition folder](.hasura-connector/scripts). 
DDN CLI can automatically invoke those scripts when developing with DDN projects.

### Manual 

#### Installation

Install following tools for development:

- [hasura-ndc-go](https://github.com/hasura/ndc-sdk-go/tree/main/cmd/hasura-ndc-go)

```sh
go install github.com/hasura/ndc-sdk-go/cmd/hasura-ndc-go@latest
```

#### Code generation

Whenever modifying NDC types and functions in the `functions` folder, you need to generate NDC schema and codes.

```sh
hasura-ndc-go update
```